/*2d transform*//*3d transform*/
/*section{
	perspective: 300px;
	display: block;
	-webkit-perspective: 300px;
	background-color: rgba(135, 86,120, 0.4);
	width: 300px;
	height: 200px;
	margin: 100px auto;
}
.translate3X, .translateXY, .scaleX, .scaleXY, .skewX, .matrix, .rotate3d{
	width: 100px;
	height: 80px;
	position: relative;
	margin-bottom: 20px;
}
.translate3X{
	background-color: rgba(135, 86,120, 0.4);
	}
.translateXY{
	background-color: rgba(135, 86, 120, 0.4);
}
.scaleX{
	background-color: rgba(255, 153, 0, 0.4);
}
.scaleXY{
	background-color: rgba(0, 78, 255, 0.51);
}
 .skewX,{
 	background-color: rgba(135, 86,120, 0.4);
 }
 .matrix{
 	background-color: rgba(255, 153, 0, 0.4);
 }
.translate3X:hover{
	transform: translate3d(-5px, -10px, -15px);
	
}
 .translateXY:hover{
 	transform: translate(20px, 50px);
 }
 .scaleX:hover{
 	transform: scaleX(-2);
 	transform-origin: left;
 }
 .scaleXY:hover{
 	transform: scale(1.5, 3);
 }
 .skewX:hover{
 	transform: skewX(40deg);
 }
 .matrix:hover{
 	transform: matrix(1.3, -2, 2, 1.1, 40, 10);
 }
.translate3X::before, .translateXY::before, .scaleX::before, .scaleXY::before, .skewX::before, .matrix::before{
	content: 'attr(class)';
	position: absolute;
	top: 40%;
	left: 20%;
	display: block;
}

.rotate3d{
	background-color: rgba(0, 78, 255, 0.51);
	background-image: url(http://pikchyriki.net/avatar/krutye/100/34.jpg); 
}
.rotate3d::before{
	content: '*SKELET*';
	position: absolute;
	top: 40%;
	left: 10%;
	display: block;
}
.rotate3d:hover{
 	transform: rotate3d(5, 10, 15, 175deg);
 }*/


/* .transition{
 	width: 100px;
 	height: 100px;
 	background-color: green;
 	opacity:1;
 }
 .transition:hover{
 	width: 20px;
 	opacity: 0.3;
 	transition: opacity 0.7s ease-out 2s;
 }
 h1{
 	animation-name: slidein;
 	animation-duration: 3s;
 	animation-timing-function: linear;
 	animation-iteration-count: infinite;
 	animation-direction: alternate;
 }
 @keyframes slidein{
 	from{
 		margin-left: 500px;
 		width: 80%;
 	}
 	to{
 		margin-left: 0;
 		width: 30%;
 	}
 }*/


ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	background-color: red;
	align-content: center;
}
li{
	width: 75px;
	height: 40px;
	background-color: green;
	text-align: center;
	margin-bottom: 30px;
	line-height: 40px;
}
li:nth-child(2n){
	background-color: yellow;
}